<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         version="5.0">

    <servlet>
        <servlet-name>RefeicaoServlet</servlet-name>
        <servlet-class>servlets.RefeicaoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RefeicaoServlet</servlet-name>
        <url-pattern>/RefeicaoServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PedidoServlet</servlet-name>
        <servlet-class>servlets.PedidoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PedidoServlet</servlet-name>
        <url-pattern>/PedidoServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EstoqueServlet</servlet-name>
        <servlet-class>servlets.EstoqueServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EstoqueServlet</servlet-name>
        <url-pattern>/EstoqueServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FeedbackServlet</servlet-name>
        <servlet-class>servlets.FeedbackServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FeedbackServlet</servlet-name>
        <url-pattern>/FeedbackServlet</url-pattern>
    </servlet-mapping>

</web-app>
